<template name="barItem">
  <div class="bar-style">
    <div class="photos">Photos</div>
    <div>
      <h3 class="bar-name" style="color:black"><a class="barName" href="{{url}}">{{title}}</a><br><span>{{domain}}</span></h3>
    </div>

    <div class="bar-attribute">
    	{{ageLimit}}
    	{{offer}}
    </div>

    <div>
    	{{email}}
    	{{mobile}}
    	{{address}}
    	{{city}}
    </div>
        <button class="botton-style">I'm Comming!</button>
        <button class="delete-item">Delete</button>
  </div>
</template>