<template name="barItem">
  <div class="bar-item">  
    <img class="image" src="{{img1}}">
    <img class="image" src="{{img2}}">
    <h2 class="bar-name">{{title}}</h2>

    <div class="bar-attribute">
    	
      <div id="{{barId}}" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="primary-offer">
              {{offer}} 
            </div>         
           
          </div>
          <div class="item">
            <ul class="details">
              <li>{{veganFriendly}}</li>
              <li>{{lightKitchen}}</li>
              <li>{{liveShows}}</li>
              <li>{{espressoFriends}}</li>
              <li>{{smokingArea}}</li>
              <li>{{address}}</li>
              <li>{{ageLimit}}</li>
              <li>{{domain}}</li>
              <li>{{email}}</li>
              <li>{{mobile}}</li>
              <li>yoyo</li>
              <li>check!!!</li>
            </ul>
                      <a href="#barId" role="button" data-slide="prev" class="left carousel-control">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>      
          </div>
        </div>
      </div>

      <ul class="bar-buttons">
        <li><a href="#" class="navigate btn btn-default">{{distance}}<span><img class="navigate-button" src="/background/NAVIGATE BUTTON hand made.jpg"></span></a></li>
          
        <li>
          <a href="#barId" role="button" data-slide="next" class="details btn btn-default" id="moreAbout">more about <b>{{title}}</b></a> 
        </li>

        <li>{{ >reservation}}</li>
        <li class=""><a class="share pull-left" href="#"><span class="fa fa-share-alt"></span></a></li>
        <li class=""><a href="#" class="like pull-right"><span class="glyphicon glyphicon-heart"></span></a></li>
      </ul> 
    	

<!--       <ul class="bar-buttons">
        <li><a href="#" class="navigate btn btn-default">Navigate</a></li>
          
        <li><a href="#" class="details dropdown-toggle btn-default btn" data-toggle="collapse" data-target=".details">more about <b>{{title}}</b> <b class="caret"></b></a></li>
          
          <ul class="collapse details">
            <li>{{address}}</li>
            <li>{{ageLimit}}</li>
            <li>{{domain}}</li>
            <li>{{email}}</li>
            <li>{{mobile}}</li>
            <li>yoyo</li>
          </ul>    
	    	
	    	<li>{{ >reservation}}</li>
        <li class=""><a class="share pull-left" href="#"><span class="fa fa-share-alt"></span></a></li>
	    	<li class=""><a href="#" class="like pull-right"><span class="glyphicon glyphicon-heart"></span></a></li>
      </ul> -->

	    </div>
  </div>
</template>

<!-- <li class="dropdown">

    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media</a>
    <ul class="dropdown-menu">
        <li><a href="#">Twiter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Google+</a></li>
        <li><a href="#">Instegram</a></li>
    </ul>

</li>    -->