<template name="reservation">
	<li><a data-toggle="modal" data-target="#reservationModal" class="reservation btn btn-default">Wait, I'm coming!</a></li>
	
	<div id="reservationModal" class="modal fade" role="dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">WHO'S COMMING?  {{barId}}</h4>
			</div>		
		</div>

		<div class="modal-body">
	        <form class="form-inline">
	        	
	        	<div>
	              <div class="radio-inline">
	                <label>
	                  <input type="radio" id="justMe" value="justMe" name="howMany" class="reservation-button">Just me
	                </label>
	                <label>
	                  <input type="radio" id="me+1" value="me+1" name="howMany" class="reservation-button"> me + 1
	                </label>
	                <label>
	                  <input type="radio" id="bunch" value="bunch" name="howMany" class="reservation-button"> me and a bunch
	                </label>                                        
	              </div>                		
	        	</div>

	          <div>
				<div class="radio-inline">
	                <label>
	                  <input type="radio" id="noSmoking" name="isSmoking"> no smoke
	                </label>
	                <label>
	                  <input type="radio" id="somking" name="isSmoking"> some like a madafaka
	                </label>                                       
	              </div>                  	
	          </div>
	          
	          <button type="submit" class="btn btn-info btn-sm">Let's go!</button>
	          <button type="button" class="btn btn-default btn-sm">Cancel</button>
	        </form>
		</div>	
	</div>
</template>