<template name="header">
	<header>
	<!-- <div id="head-style">  -->
	<a href="#" id="logo">Happy Hour(logo)</a>
	<nav>
		<a href="#" id="menu-icon" class="fa-bar"></a>
		<ul>
			<li><a  href="/">Home</a></li>
			{{#if currentUser}}<li><a href="{{pathFor 'addNewBar'}}" >Adding New Bar</a></li>{{/if}}
			<li><a href="{{pathFor 'discoverySettings'}}">Discovery Settings</a></li>
		</ul>		
	</nav>
	<ul>
		{{>loginButtons}}
	</ul>
		<!-- <div style="text-align:left">
		  {{> location}}
		</div>
 -->
	<!-- </div> -->
	</header>
</template>      

