@font-face {
  font-family: happyFont;
  src: url("/fonts/happyEnglishHebrew.ttf");
}


* {
  margin: 0;
  border: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #000000
}


#body {
  align: center;
  padding-top: 50px;
  z-index: 0;
}


.context {
  text-align: center;
}


a.share:hover, a.shre:visited a.like:hover, a.like:visited {
    color: #ac00e6;
  }


.modal-body {
  background-color: green;
}

