@font-face {
  font-family: happyFont;
  src: url("/fonts/happyFont1.ttf");
}


* {
  margin: 0;
  border: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #000000
}

/*______________________________Header styles______________________________*/

.header {
  position: fixed;
  z-index: 100;
  opacity: 0.90; 
  width: 100%;
  background-image: url("/background/headerDigital.jpg");
  color: white;
  margin-bottom: 90px;
  text-align: center;  
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-family: happyFont;
    font-size: 40px;
} 
  .navbar-brand:visited {
    color: #ffffff;
  }

.navbar-default .navbar-collapse {
   border: none;
   border-color: none; 
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover {
    background: #39925E;
    /*height: 100%;*/
  }

.login {
  color: black;
  text-align: right;
}

.navbar-default .navbar-toggle { 
    /*background: #000000;*/
    background-image: url("/background/OPTIONS BUTTON hand made.jpg");
    width: 50px;
    height: 35px;
    background-size: 100%;
    /*background-repeat: no-repeat;    */
}

/*/////////////////////////////////////////////////////////////*/

#body {
  align: center;
  padding-top: 50px;
  z-index: 0;
}


.container {
  padding-left: 200px;
  padding-right: 200px; 
}

.context {
  text-align: center;
}

.details {
  color: #000000; 
}

.bar-item {
  position: relative;
  text-align: center;
  background-image: url("/background/mainBackgroundDigital.jpg");
  margin-bottom: 15px;
  height: 92vh; 
  font-family: happyFont;
}

.bar-name {
  margin-top: 10px;
  font-weight: bolder;  
  font-size: 60px;
}

.primary-offer {
  height: 12vh;
  font-size: 50px;
}

.bar-buttons {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%
}

.navigate {
  font-size: 28px;
}

.navigate-button {
  width: 50px;
}

.navigate-button:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.details {
  font-size: 28px;
}
.reservation {
  color: #FF0000;
  /*background: #ffffff;*/
  font-weight: bold;
  font-size: 28px;
}


.share, .like {
  color: #ac00e6;
  font-size: 200%;
  text-align: bottom;
}

.image {
  display: inline-block;
  width: 49%;
  border: 1px solid navy;
  height: 31vh;
  background: #B2C6D0;
  margin: 0px
}

a.share:hover, a.shre:visited a.like:hover, a.like:visited {
    color: #ac00e6;
  }


.modal-body {
  background-color: green;
}

@media  screen and (max-width: 700px) {
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .bar-item {
    max-height: 100%;
  }  
}

@media screen and (min-width: 700px) and (max-width: 960px) {
  /*medium size*/
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
}

