<template name="addNewBar">
  <form id="addNewBarForm">
  *photo...<br>
    <label for="title">Bar Name:</label>
    <input type="text" id="title" name="title"><br>
    {{> listingSubmit}}
    <label for="itemPrice">Your Offer:</label>
    <input type="text" id="offer" name="offer"><br>
    
	<label for="ageLimit">Age Limit:</label>
	<input type="number" id="ageLimit" name="ageLimit" min="18" max="120"><br>
   	
	<label for="webPage">Home Page:</label>
	<input type="url" id="url" name="url"><br>

	<legend>Your Contact information:</legend>
	<label for="email">Email:</label>
	<input type="email" id="email" name="email"><br>
	<label for="mobile">Mobile</label>
	<input type="tel" id="mobile" name="mobile"><br>
<!-- 	<legend>Coordinates:</legend><br>
	<label for="lon">Lon:</label>
	<input type="text" id="lon" required>
	<label for="lat">Lat:</label>
	<input type="text" id="lat" required><br> 
 -->	   
    <input type="submit" id="addNewBar" value="Add Bar">
  </form>

<!--   <div>
    {{#each bars}}
      {{> barItem}}
    {{/each}}
  </div> -->

</template>

<template name="listingSubmit">
	<div id="locationField">
	  <input id="autocomplete" placeholder="Enter your address" type="text">
	</div>
</template>